
  

<div class="calendar">
    <div style="background: #ffffff00;">
      {% include 'time.html'%}
      <br>
    </div>

    <div class="calendar__picture" style="height: 100px">
      <h2 >{{_day}}, {{_name_day}}</h2>
      <h3>{{ date['month'] }}</h3>
    </div>
    <div class="calendar__date">

      <div class="calendar__day">M</div>
      <div class="calendar__day">T</div>
      <div class="calendar__day">W</div>
      <div class="calendar__day">T</div>
      <div class="calendar__day">F</div>
      <div class="calendar__day">S</div>
      <div class="calendar__day">S</div>

      {% for day, _s in date['days'] %}
        {% if _s == True%}
            <div class="calendar__number calendar__number--current">{{day}}</div>
        {% elif _s == None %}
            <div class="calendar__number"></div>
        {% elif _s == False %}
            <div class="calendar__number">{{day}}</div>
        {% endif %}

        
      {% endfor %}

    </div>
  </div>

