<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <style>
      .calendar__picture{
        background: #262626 url("{{ url_for('static', filename='calendar-picture.webp', _external=True) }}") no-repeat center / cover;
      }

      body{
        background: url("{{ url_for('static', filename='background.webp', _external=True) }}") no-repeat center / cover;
      }

    </style>
</head>
<body>
    {% include 'cal.html'   %}    
</body>
</html>


