
  

  <!-- clock wrapper -->
  <div class="relative font-mono font-extrabold text-4xl grid grid-cols-3 text-right text-white shadow-2xl gap-x-px   rounded">



    <!-- left timer -->
    <div class="relative py-8 px-7">
      <div class="absolute inset-0 w-full h-full grid grid-rows-2">

        <!-- background squares -->
        <div class="bg-gradient-to-br from-gray-800 to-gray-900"></div>
        <div class="bg-gradient-to-br from-gray-700 to-gray-900"></div>
      </div>

      <div class="relative">05</div>

      <!-- line across middle -->
      <div class="absolute inset-0 w-full h-full flex items-center justify-center">
        <div class="h-px w-full bg-gray-900"></div>
      </div>
    </div>

    <!-- right timer -->
    <div class="relative py-8 px-7">
      <div class="absolute inset-0 w-full h-full grid grid-rows-2">

        <!-- background squares -->
        <div class="bg-gradient-to-br from-gray-800 to-gray-900"></div>
        <div class="bg-gradient-to-br from-gray-700 to-gray-900"></div>
      </div>

      <div class="relative">47</div>

      <!-- line across middle -->
      <div class="absolute inset-0 w-full h-full flex items-center justify-center">
        <div class="h-px w-full bg-gray-900"></div>
      </div>
    </div>

        <!-- right timer -->
        <div class="relative py-8 px-7">
          <div class="absolute inset-0 w-full h-full grid grid-rows-2">
    
            <!-- background squares -->
            <div class="bg-gradient-to-br from-gray-800 to-gray-900"></div>
            <div class="bg-gradient-to-br from-gray-700 to-gray-900"></div>
          </div>
    
          <div class="relative">47</div>
    
          <!-- line across middle -->
          <div class="absolute inset-0 w-full h-full flex items-center justify-center">
            <div class="h-px w-full bg-gray-900"></div>
          </div>
        </div>
  </div>

